<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Paneli - İnci Giyim</title>
    <link rel="stylesheet" href="../CSS/admin1.css">
</head>

<body>
    <div class="sidebar">
        <h2>Admin Paneli</h2>
        <ul>
            <li><a id="ekle" href="admin_urunEkle">Ürün Ekle</a></li>
            <li><a id="Sil" href="admin_urunSil">Ürün Sil</a></li>
            <li><a href="admin_urunGuncelle">Ürünü Güncelle</a></li>
            <li><a id="tum" href="admin_tumUrunler">Tüm Ürünleri Göster</a></li>
            <li><a id="yardim" href="help">Tc Kimlik Ekle</a></li>
        </ul>
    </div>

    <div class="content">
        <h1>Admin Paneli Ana Sayfa</h1>
        <table>
            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Açıklama</th>
                    <th>Kategori</th>
                    <th>Ürün Kodu</th>
                    <th>Stok</th>

                    <th>Resim</th>
                </tr>
            </thead>
            <tbody>
                <% urunler.forEach(urun=> { %>
                    <tr>
                        <td>
                            <%= urun.isim %>
                        </td>
                        <td>
                            <%= urun.fiyat %>
                        </td>
                        <td>
                            <%= urun.aciklama %>
                        </td>
                        <td>
                            <%= urun.kategori %>
                        </td>
                        <td>
                            <%= urun.kodu%>
                        </td>
                        <td>
                            <%= urun.stok %>
                        </td>
                        <td><img src="<%= urun.resim_yolu %>" alt="Ürün Resmi" width="100"></td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
    <script src="../JAVASCRİPT/admin.js"></script>
</body>

</html>